
icon.png
logs/latest.log
options.txt
saves/New World/stats/3b95475e-c51c-6e1e-c306-c721d4dbd097.json
saves/New World/session.lock
saves/New World/advancements/3b95475e-c51c-6e1e-c306-c721d4dbd097.json
saves/New World/data/capabilities.dat
saves/New World/data/Mineshaft.dat
*.dat
*.mca
*.dat_old
usercache.json
usernamecache.json
*.gz
journeymap/data/sp/New World/DIM0/night/0,0.png
journeymap/data/sp/New World/DIM0/night/-1,0.png
journeymap/data/sp/New World/DIM0/day/0,0.png
journeymap/data/sp/New World/DIM0/day/-1,0.png
journeymap/data/sp/New World/DIM0/night/0,0.png
journeymap/data/sp/New World/DIM0/night/0,0.png
journeymap/data/sp/New World/DIM0/night/0,0.png
journeymap/data/sp/New World/DIM0/night/-1,0.png
journeymap/data/sp/New World/DIM0/day/0,0.png
journeymap/data/sp/New World/DIM0/day/-1,0.png
journeymap/journeymap.log
crafttweaker.log
journeymap/journeymap.log
journeymap/data/sp/New World/DIM0/night/0,0.png
journeymap/data/sp/New World/DIM0/night/-1,0.png
journeymap/journeymap.log
